.btn_default {
  cursor: pointer;
  transition: all 500ms;
  padding: 5px 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn_newsletter {
  background: #fff;
  color: #1a54e7;
  border: 1px solid transparent;
  border-radius: 25px;

  &:hover {
    transform: translateX(-10px);
  }

  &:disabled {
    cursor: not-allowed;
    &:hover {
      border: 1px solid transparent;
      transform: translateX(0);
    }
  }
}

.btn_primary {
  transition: all 0.4s ease;
  position: relative;
  border: 0;
  background: #fff;
  box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
  border-top: 2px solid #1a54e7;
  border-bottom: 2px solid #1a54e7;
  color: #1a54e7;
  letter-spacing: 2px;
  font-size: 14px;
  display: flex;
  
  span {
    z-index: 1;
  }

  &:after, &:before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #1a54e7;
    height: 100%;
    top: 0;
    transition: all 0.4s ease;
  }

  &:before {
    left:0;
  }

  &:after {
    right:0;
  }

  &:hover {
    transition: all 0.4s ease;
    box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
    color: #fff;
    

    &:after, &:before {
      width: 51%;
    }
  }
}