.btn_primary {
  background: #fff;
  color: #1a54e7;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 5px 15px;
  transition: all 500ms;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background: darken(#fff , 2%);  
  }

  &:disabled {
    cursor: not-allowed;
    &:hover {
      border: 1px solid transparent;
    }
  }
}